*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    /* font-style: italic; */
  }

body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    z-index: -1;
    height: 100vh; 
    width: 100vw;  
    background-image: url("../static/bg.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    overflow-x: hidden;
}

.mycontainer {
    position: relative;
    padding: 0px;
    height: 100vh; /* Ensure the container takes up the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligns the navbar to the bottom */
}

.container-fluid{
    display: flex;
    flex-direction: row;
    position: relative;
}
    
.ai-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
}
.AI {
    font-size: 1.5rem;
    padding: 10px;  
    text-align: center;

}

/* date bhi dal do  */
.report{
    margin-top: 10px;
    /* background-color: rgb(138, 192, 236); */
}

.mynavbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navbar {
    height:65.8px ;
    width: 100%;
    /* background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(27, 159, 196)); */
    position: fixed;
}
.navbar-brand{
    margin-left: 10px;
}

.flask {
    position: absolute;
    top: calc(50% + 40px); /* Center the flask and add a 40px margin from the navbar */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 7px 20px;
    border-radius: 10px;
    max-width: 600px;
    text-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80vh;
    overflow-y: auto;
}

.ankerBut {
    text-decoration: none;
    font-size: large;
    color: inherit;
    font-weight: 700;
    width: 50%;
    margin-right: 15px;
    height: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.btn-success {
    background-color: #0b5ed7;
    margin: 0 5px;
}

#userButton {
    border-radius: 5px; /* Using pixels for a noticeable change */
    padding: 10px;
    border: none;
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.mymargin {
    margin: 20px;
}

@media (max-width: 768px) {
    #chatbox {
        margin: 10px;
        height: 80vh;
    }
}


#button:hover {
    background-color: #0b5ed7;
}
.d-flex{
    margin-right: 15px;
}
.yo{
    text-decoration: none;
    color:inherit;
}
.btn-outline-success{
    background-color: #0b5ed7;
    padding: 0.3rem 2.3rem;
    color: white;
    font-size: 18px;
    z-index: 0;
}



.btn-outline-success:hover{
cursor: pointer;
}
.navbar{
height:65.8px ;
}
.navbar-brand{
margin-left: 10px;
}